    header {
        font-family: 'Finlandica', sans-serif;
        background-color: red;
        margin: 0;        
    }
    .inicio img {
        width: 80px; /* ajusta el ancho*/
        height: 80px;/* ajusta el alto*/
    }



