.inicio {
    background-color: rgb(199, 197, 197);
    margin: 0; /* le saco el marge */
    padding: 0; /* le saco el paddin */
    font-family: 'Finlandica', sans-serif;
    margin-bottom: 20px;
    display: flex; 
    flex-grow: 1;
    text-align: center;
    bottom: 35px;
}

.inicio img{
    width: 80px; /* ajusta el ancho según tus necesidades */
    height: 80px; /* ajusta el alto según tus necesidades */
}




.menu {


}


