@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
#nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
#section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
#aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (min-width: 250px) and (max-width: 800px){
	body {
		display: flex;
		color: #000;
		background: #332F29;
		font-size:100%;
	}
	#contenedor {		
		justify-content: space-between;
		width: 800px;
		background: #8FA68E;
		margin-right:auto;
		margin-left:auto;
		overflow: hidden;
	}
	#nav {
		display: flex;
		background: #cc7410;
		float: left;
		width: 800px;
		text-align: center;
		
	}	
	#section {
		background: #F1F2C0;
		margin-left: 0px;
		float: left;		
		width: 800px;
		
	}
	#aside {
		background: #CCC59E;
		float: left;
		width: 800px;
	}

}

