.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .option {
    text-align: center;
    margin: 20px;    
    flex: 1 1 200px; 
  }
  
  .option img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .option img:hover {
    transform: scale(1.05);
  }
  
  .option p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
  }  
  
  .bottom-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  

 
  