.columnas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.columna {
    flex: 1;
    margin: 0 10px;    
}

.holder {         
    max-width: 960px;
    margin: 0 auto;
}
.holder img{         
    max-width: 960px;
    margin: 0 auto;
    margin-left: 230px;
    
}

