<div class="conteiner" style="margin-top: 50;">
  <div class="row">
    <p class="text-end">Hola {{persona}} <a class="btn btn-danger" href="/admin/login/logout">Cerra sesion<i class="fas fa-sing-out-alt"></i></a></p>
  </div>  
</div>